/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
*.iml
/.idea
/app/.idea/checkstyle-idea.xml
/app/.idea/misc.xml
/app/.idea/modules.xml
/app/.idea/vcs.xml
/app/.idea/workspace.xml
/app/app.iml
/node_modules
/dist/blog.html
/dist/css/reset.css
/dist/css/styles.css
/dist/favicon.png
/dist/img/Linkedin.jpg
/dist/js/bundle.js
/dist/index.html
/.firebaserc
/.firebase/*.cache
/dist/favicon.ico
/firebase-debug.log
/dist/CV-Jeroen-Wolf-NL.pdf
